.rigid {
  min-height: 60px;
}

.card {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
